.bac label{
	background: #eceeef;
}



.den label{
	background: #000000;
}



.vang-dong label{
	background: #dec6ad;
}



.vang-hong label{
	background: #edc3bc;
}



. label{
	background: ;
}



. label{
	background: ;
}



. label{
	background: ;
}



. label{
	background: ;
}



. label{
	background: ;
}



. label{
	background: ;
}